/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$title-color-text: #000000;
$secondary-color-text: #222222;

$white-color: #ffffff;

$bg-basic-green: #68b738;
$bg-basic-gray: #f2f2f2;
