.button {
  @include font ($family: $secondary-font, $size: 16px, $height: 20px, $color: $white-color);

  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: $bg-basic-green;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: color, opacity, 0.3s;


  &--secondary {
    background-color: $bg-basic-gray;
    color: $text-base-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
  }
}

.button--secondary.card__button:hover {
  background-color: $text-base-color;
  color: $white-color;
}
