.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $bg-basic-green;

  &--secondary {
    background-color: $bg-basic-gray;
    color: $title-color-text;
  }
}
