.catalog {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog__item {
  display: grid;
  grid-template-areas:
    "image  title"
    "image  options"
    "button button";
  padding: 20px 20px 25px;
  border-bottom: 1px solid #ebebeb;

  &:first-child {
    border-top: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    display: block;
    padding: 0 37px 40px;
    border: none;
    background-image: linear-gradient(to bottom, $white-color 70px, $bg-basic-gray 70px);

    &:first-child {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    gap: 12px;
  }
}

.catalog__heading {
  @include font ($family: $secondary-font, $size: 36px, $color: $text-title-color);
  margin: 0 auto 41px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 95px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin-bottom: 93px;
  }
}

.catalog__list {
  @include list-reset();

  @media (min-width: $tablet-width) {
    @include flex-box ($flex-direction: row, $justify-content: stretch, $align-items: stretch);
    gap: 71px 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 74px 80px;
    max-width: 1220px;
    margin: 0 auto;
  }
}
