.extra {

}

.extra__wrapper {

}

.extra__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $title-color-text;
}

.extra__list {

}

.extra__item {

}

.extra__promo {

}
