.extra {
  padding: 25px 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 74px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 110px 0;
  }
}

.extra__wrapper {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.extra__title {
  @include font ($family: $secondary-font, $size: 24px, $color: $text-title-color);
  margin: 0;
  margin-bottom: 33px;
  position: relative;
  width: fit-content;
  background: $white-color;
  box-shadow: -40px 0 0 0 $white-color, 40px 0 0 0 $white-color;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 100vw;
    height: 2px;
    top: 35%;
    background-color: $bg-basic-green;
    box-shadow: 100vw 0 0 0 $bg-basic-green;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 80px;
    margin-left: 40px;

    &::after {
      content: "";
      width: 30px;
      height: 2px;
      display: block;
      position: absolute;
      left: -70px;
      top: 50%;
      background-color: $bg-basic-green;
    }

    &::before {
      top: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 80px;
  }
}

.extra__options {
  @media (min-width: $desktop-width) {
    @include flex-box($flex-direction:row);
    gap: 80px;
    flex-wrap: nowrap;
    max-width: 1220px;
    margin: 0 auto;
  }
}

.extra__list {
  @include list-reset ();

  @media (min-width: $desktop-width) {
    min-width: 895px;
  }
}
