.food-type {

}

.food-type__wrapper {
  padding: 10px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 110px 0;
  }
}

.food-type__list {
  @include list-reset();
  @include flex-box ($align-items: normal);
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.food-type__item {
  background-color: $bg-basic-gray;
  padding: 30px 20px 18px;

  position: relative;

  &::before {
    content: "";
    background-color: $bg-basic-green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &::after {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
  }

  &--slim::after {
    width: 36px;
    height: 50px;
    top: 21px;
    left: 27px;
    background-image: url("../../icons/stack.svg#cat-slim");
  }

  &--pro::after {
    width: 67px;
    height: 28px;
    top: 35px;
    left: 13px;
    background-image: url("../../icons/stack.svg#cat-pro");
  }

  @media (min-width: $tablet-width) {
    padding: 77px 52px 53px;

    &::before {
      width: 200px;
      height: 200px;
      top: 92px;
      left: auto;
      right: 63px;
    }

    &::after {
      left: auto;
    }

    &--slim::after {
      width: 140px;
      height: 194px;
      right: 93px;
      top: 81px;
    }

    &--pro::after {
      width: 268px;
      height: 112px;
      right: 29px;
      top: 135px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;

    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
      right: auto;
    }

    &::after {
      right: auto;
    }

    &--slim::after {
      width: 70px;
      height: 97px;
      left: 67px;
      top: 41px;
    }

    &--pro::after {
      width: 134px;
      height: 100px;
      left: 33px;
      top: 47px;
    }
  }
}

.food-type__title {
  @include font ($family: $secondary-font, $size: 24px, $height: 37px, $color: $text-title-color);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  margin-left: 70px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.food-type__description {
  @include font ($size: 14px, $height: 18px);
  border-bottom: 1px solid $border-color;
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    padding-bottom: 0;
    max-width: 340px;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 457px;
  }
}

.food-type__link {
  @include font ($family: $secondary-font, $size: 16px, $color: $text-title-color);
  @include flex-box ($flex-direction: row, $justify-content: start);
  gap: 15px;

  text-transform: uppercase;
  position: relative;
  transition: all, 1.3s;

  &::after {
    content: "";
    background-color: #000000;
    width: 32px;
    height: 12px;
    mask-image: url("../../icons/stack.svg#arrow");
    mask-position: 0, 50%;
    mask-repeat: no-repeat;
    mask-size: 24px 12px;
    transition: all, 1.3s;
  }

  &:hover::after,
  &:focus::after {
    mask-size: 32px 12px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
