.food-type {

}

.food-type__wrapper {

}

.food-type__list {

}

.food-type__item {
  background-color: $bg-basic-gray;
}

.food-type__item--slim {

}

.food-type__item--pro {

}

.food-type__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $title-color-text;
  text-transform: uppercase;
}

.food-type__description {
  font-size: 14px;
  line-height: 18px;
}

.food-type__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $title-color-text;
  text-transform: uppercase;
}
