.hero {
  background-image:
    linear-gradient(to bottom, $bg-opacity-green 302px, $white-color 302px),
    image-set(
      url("../../images/index-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/index-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index-background-mobile@2x.png") type("image/png") 2x,
      url("../../images/index-background-mobile@21x.png") type("image/png") 1x
    );
  background-repeat: no-repeat;
  background-size: cover, auto 302px;
  background-position: 50% 0, 50% 0;

  text-align: center;
  padding: 27px 20px 10px;
}

.hero__wrapper {
}

.hero__title {
  @include font ($family: $secondary-font, $size: 36px, $color: $white-color);
  margin: 0;
  margin-bottom: 25px;
}

.hero__slogan {
  @include font ($family: $secondary-font, $size: 14px, $color: $white-color);

  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hero__image {
  margin: 0 auto 3px;
}

.hero__button {
  width: 280px;
  margin: 0 auto;
}
