.life-example {
  background-color: $bg-basic-gray;
  padding: 25px 20px 40px;
}

.life-example__wrapper {
  min-width: 280px;
}

.life-example__title {
  @include font ($family: $secondary-font, $size: 36px, $height: 40px, $color: $text-title-color);
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.life-example__text {
  @include font ($size: 14px, $height: 18px);
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.life-example__list {
  @include font ($size: 14px, $height: 18px);
  @include flex-box ($flex-direction: row, $justify-content: start);
  flex-wrap: nowrap;
  gap: 32px;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
}

.life-example__item {
  padding: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
  min-width: 124px;
}

.life-example__number {
  @include font ($family: $secondary-font, $size: 24px, $color: $text-title-color);

  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7px;
}

.life-example__description {
  @include font ($size: 12px);
  margin: 0;
  position: absolute;
  display: block;
  background-color: $bg-basic-gray;
  text-align: center;
  padding: 0 10px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.life-example__cost {
  @include font ($family: $secondary-font, $size: 14px, $height: 20px, $color: $text-title-color);

  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.life-example__cost-value {

}

.life-example__contrast {

}
