.life-example {
  background-color: $bg-basic-gray;
  padding: 0 20px;
}

.life-example__wrapper {
  min-width: 280px;
}

.life-example__title {
  @include font ($family: $secondary-font, $size: 36px, $height: 40px, $color: $text-title-color);
}

.life-example__text {
  @include font ($size: 14px, $height: 18px);
}

.life-example__list {
  @include font ($size: 14px, $height: 18px);
}

.life-example__item {

}

.life-example__number {
  @include font ($family: $secondary-font, $size: 24px, $color: $text-title-color);

  text-transform: uppercase;
}

.life-example__description {
  @include font ($size: 12px);
}

.life-example__cost {
  @include font ($family: $secondary-font, $size: 14px, $height: 20px, $color: $text-title-color);

  text-transform: uppercase;
}

.life-example__cost-value {

}

.life-example__contrast {

}
