.main-footer {
  background-color: $bg-basic-gray;
}

.main-footer__welcome {
  background-color: $white-color;
}

.main-footer__wrapper {
  @include flex-box($align-items: normal);
  gap: 20px;
  padding: 40px 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    flex-direction: row;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
    max-width: 1220px;
  }
}

.main-footer__logo {
  align-self: center;
}
