.main-footer {
  background-color: $bg-basic-gray;
}

.main-footer__welcome {
  background-color: $white-color;
}

.main-footer__wrapper {
  @include flex-box($align-items: normal);
  gap: 20px;
  padding: 40px 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    padding: 59px 30px;
    flex-direction: row;
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 0;
    max-width: 1220px;
  }
}

.main-footer__logo {
  align-self: center;
  width: 128px;
}

.main-footer__social {
  @include list-reset();

  @media (min-width: $tablet-width) {
    max-width: 150px;
    margin-left: 35px;
  }
}

.main-footer__copyright {
  @media (min-width: $tablet-width) {
    max-width: 170px;
  }
}
