.main-header {
  &--index {
    @media (min-width: $desktop-width) {
      z-index: 1;
    }
  }
}

.main-header__wrapper {
  @include flex-box ($flex-direction: row);
  padding: 12px 20px 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-header__nav {
  background-color: $white-color;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: contents;
  }

  &--opened {
    position: absolute;
  }
}

.main-header__logo {
  gap: 56px;

  @media (min-width: $tablet-width) {
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    gap: 14px;
  }
}

.main-header__nav-toggle {
  background-color: #ffffff;
  background-image: url("../../icons/stack.svg#menu-burger");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  min-width: 24px;
  min-height: 24px;
  cursor: pointer;

  &--close {
    display: block;
    background-image: url("../../icons/stack.svg#cross-for-close-mob-menu");
  }

  &--open {
    display: block;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-header--nojs .main-header__list {
    display: block;
  }

  .main-header--nojs .main-header__nav-toggle {
    display: none;
  }
}

.main-header__logo-image {
  @media (min-width: $desktop-width) {
    width: 118px;
  }
}

.main-header__list {
  display: none;

  @include list-reset ();

  @media (min-width: $tablet-width) {
    @include flex-box ($flex-direction:row);
    gap: 10px 30px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    min-width: 475px;
    gap: 10px 30px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-header__nav--opened .main-header__list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 100%;
    background-color: $white-color;
  }

  .main-header__nav--closed .main-header__item {
    display: none;
  }
}
