.main-container {
  &--catalog {
    padding-top: 27px;
  }

  @media (min-width: $tablet-width) {
    &--catalog {
      padding-top: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    &--catalog {
      padding-top: 74px;
    }
  }
}
