.main-nav {

}

.main-nav__toggle {
  background-color: #ffffff;
  background-image: url("../../icons/stack.svg#menu-burger");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;

  &--close {
    background-image: url("../../icons/stack.svg#cross-for-close-mob-menu");
  }
}

.main-nav__list {
  @include list-reset ();
}
