.manual {

}

.manual__wrapper {

}

.manual__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $title-color-text;
}

.manual__list {
  font-size: 14px;
  line-height: 18px;
}

.manual__item {

}

.manual__item--benefit {

}

.manual__item--easy {

}

.manual__item--just {

}

.manual__item--enjoy {

}
