.manual {
  padding: 12px 20px 49px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 57px;
    border-bottom: 1px solid $border-color;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 110px 0;
    border: none;
  }
}

.manual__wrapper {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.manual__title {
  @include font ($family: $secondary-font, $size: 36px, $height: 40px, $color: $text-title-color);
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    font-size: 60px;
    line-height: 60px;
  }
}

.manual__list {
  @include font ($size: 14px, $height: 18px);
  @include list-reset ();
  @include flex-box ($align-items: stretch);
  gap: 20px;

  counter-reset: list;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    flex-flow: row wrap;
    gap: 100px 115px;
    justify-content: flex-start;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    gap: 55px 73px;
  }
}

.manual__item {
  @include flex-box ( $flex-direction: row, $justify-content: flex-start);
  flex-wrap: nowrap;
  gap: 20px;
  position: relative;

  &::before {
    content: "";
    background-color: $bg-basic-green;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: block;
    flex-shrink: 0;
  }

  &--benefit {
    &::before {
      background-image: url("../../icons/stack.svg#icon-leaf");
      background-size: 30px 32px;
    }
  }

  &--easy {
    &::before {
      background-image: url("../../icons/stack.svg#icon-water");
      background-size: 26px 29px;
    }
  }

  &--just {
    &::before {
      background-image: url("../../icons/stack.svg#icon-eat");
      background-size: 25px 30px;
    }
  }

  &--enjoy {
    &::before {
      background-image: url("../../icons/stack.svg#icon-clock");
      background-size: 27px 31px;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: calc($tablet-width / 2 - 115px);
    flex-wrap: wrap;
    gap: 0;
    align-items: flex-end;
    min-height: 215px;
    padding-right: 20px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      @include font ($family: $secondary-font, $size: 280px, $color: $bg-basic-gray);

      content: counter(list);
      counter-increment: list;
      position: absolute;
      top: -7px;
      right: 20px;
      z-index: -1;
    }

    &:first-child::after {
      right: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    max-width: 250px;

    &::after {
      right: 5px;
    }

    &:first-child::after {
      right: 30px;
    }
  }
}
