.map {
  background-image:
    image-set(
      url("../../images/map-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/map-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/map-mobile@2x.png") type("image/png") 2x,
      url("../../images/map-mobile@1x.png") type("image/png") 1x
    );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 362px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background-image:
      image-set(
        url("../../images/map-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/map-tablet@@1x.webp") type("image/webp") 1x,
        url("../../images/map-tablet@@2x.png") type("image/png") 2x,
        url("../../images/map-tablet@@1x.png") type("image/png") 1x
      );
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../images/map@2x.webp") type("image/webp") 2x,
        url("../../images/map@@1x.webp") type("image/webp") 1x,
        url("../../images/map@@2x.png") type("image/png") 2x,
        url("../../images/map@@1x.png") type("image/png") 1x
      );
  }
}

.map__google {
  display: block;
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
