.product {
  @include flex-box($align-items: normal);
  border-bottom: 1px solid #cdcdcd;
  padding: 13px 0 19px;
  margin-bottom: 35px;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    gap: 25px;
    margin: 0;
  }
}

.poduct__wrapper {
  @media (min-width: $tablet-width) {
    @include flex-box ($flex-direction: row);
  }
}

.product__link {
}

.product__title {
  @include font ($family: $secondary-font, $size: 16px, $color: $text-secondary-color);

  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}

.product__options {
  @include font ($size: 14px);
  @include flex-box ($flex-direction:row);
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    gap: 50px;
    margin: 0;
  }
}

.product__key {

}

.product__value {
  margin: 0;
}

.product__button {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
