.product {
  @include flex-box($align-items: normal);
  border-bottom: 1px solid #cdcdcd;
  padding: 13px 0 18px;
  margin-bottom: 0;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  &:last-child {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    gap: 24px;
    margin: 0;
    border-right: 1px solid#cdcdcd;
    border-left: 1px solid#cdcdcd;

    &:last-child {
      margin-bottom: 70px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 40px;
    padding: 15px 0;
    border-left: none;
    border-right: none;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product__wrapper {
  @media (min-width: $tablet-width) {
    @include flex-box ($flex-direction: row);
  }

  @media (min-width: $desktop-width) {
    min-width: 610px;
  }
}

.product__title {
  @include font ($family: $secondary-font, $size: 16px, $color: $text-secondary-color);

  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}

.product__options {
  @include font ($size: 14px);
  @include flex-box ($flex-direction:row);
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    gap: 55px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 285px;
    justify-content: space-between;
  }
}

.product__value {
  margin: 0;
}

.product__button {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
  }
}
