.promo {
  background-color: $bg-basic-green;
  background-image:
    linear-gradient($bg-opacity-green, $bg-opacity-green),
    image-set(
      url("../../images/cat-in-bag-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/cat-in-bag-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/cat-in-bag-mobile@2x.png") type("image/png") 2x,
      url("../../images/cat-in-bag-mobile@21x.png") type("image/png") 1x
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0, 0 0;
}

.promo__text {
  @include font ($size: 16px, $height: 20px, $color: $white-color);
}
