.site-list {
  @include font ($family: $secondary-font, $size: 20px, $color: $text-title-color);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    &--index {
      color: $white-color;
    }
  }
}

.site-list__link {
  color: inherit;
  border-top: 1px solid $border-color;
  padding: 22px 23px 24px;
  display: block;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 13px 3px 10px 0;

    &--active {
      position: relative;
    }

    &--active::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $bg-basic-green;
      position: absolute;
      bottom: 0;
    }
  }
}

.site-list--index .site-list__link--active::before {
  @media (min-width: $desktop-width) {
    background-color: $white-color;
  }
}
