.site-list {
  @include font ($family: $secondary-font, $size: 20px, $color: $text-title-color);
  text-transform: uppercase;
  text-align: center;
}

.site-list__item {

}

.site-list__link {
  color: inherit;
  border-top: 1px solid $border-color;
  padding: 22px 23px 24px;
  display: block;
}

.site-list__link--active {

}
