.social {

}

.social__item {

}

.social__link {
  background-position: 50%;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  display: block;
  transition: all 1.3s;
}

.social__link--vkontakte {
  mask-image: url("../../icons/stack.svg#icon-vkontakte");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  background-color: #666666;

  &:hover,
  &:focus {
    background-color: $bg-basic-green;
  }

  &:active {
    background-color: rgba(104, 183, 56, 0.3);
  }
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#icon-youtube");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  background-color: #666666;

  &:hover,
  &:focus {
    background-color: $bg-basic-green;
  }

  &:active {
    background-color: rgba(104, 183, 56, 0.3);
  }
}

.social__link--telegram {
  mask-image: url("../../icons/stack.svg#icon-telegram");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  background-color: #666666;

  &:hover,
  &:focus {
    background-color: $bg-basic-green;
  }

  &:active {
    background-color: rgba(104, 183, 56, 0.3);
  }
}
