.subscribe {

}

.subscribe__wrapper {

}

.subscribe__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $title-color-text;
}

.subscribe__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $title-color-text;
}

.subscribe__form {

}

.subscribe__input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.subscribe__button {
  border: none;
}
