.welcome {
  &--catalog {
    background-color: $bg-basic-gray;
  }
  position: relative;
}

.welcome__wrapper {
  @include flex-box($flex-direction: row);
  flex-wrap: nowrap;
  gap: 15px;

  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    gap: 308px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: $white-color;
    top: 95px;
    left: 110px;
    max-width: 565px;
    padding: 60px 78px 60px 80px;
    gap: 87px;
  }
}

.welcome__title {
  @include font ($family: $secondary-font, $size: 16px, $height: 20px, $color: #111111);

  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.welcome__adress {
  @include font ($size: 14px, $height: 20px);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.welcome__adress-city {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 18px;
  }
}
